rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isGroupMember(groupId) {
      let group = firestore.get(/databases/(default)/documents/groups/$(groupId)).data;
      return isSignedIn() && (
        group.creatorId == request.auth.uid ||
        request.auth.uid in group.get('memberIds', [])
      );
    }

    match /groups/{groupId}/evidence/{fileName} {
      // Kun gruppens medlemmer kan se eller uploade filer
      allow read, write: if isGroupMember(groupId);
    }

    // Allow users to access their own files in other paths if exists
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}